<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="E:/AutomationPractice/Codes/original/newPull/gitSeleniumProj/MvnPractice/src/test/java/newPractice">
        <classes>

            <class name="newPractice.DropdownLooping">
                <methods>
                    <include name="ddLoop"/>
                </methods>
            </class>

            <class name="newPractice.RadioButtonClick">
                <methods>
                    <include name="rdbtn"/>
                </methods>
            </class>

            <class name="newPractice.autoSuggestiveddl">
                <methods>
                    <include name="autoSugest"/>
                    <include name="autoSuggestive"/>
                </methods>
            </class>


            <class name="newPractice.makeMyTripTest">
                <methods>
                    <include name="selectDate"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>