<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="URL" value ="http://www.qaclickacademy.com/"/>
    <test verbose="2" preserve-order="true" name="C:/Users/abhishek.mishra/JavaMavenPracUI">
        <classes>
            <class name="mvnPracticeTests.amazonMvnTest">
                <methods>
                    <include name="addToCart"/>
                    <include name="paramTest"/>
                </methods>
            </class>
            <class name="mvnPracticeTests.tableAssignment">
                <methods>
                    <include name="tblAssignment"/>
                    <include name="espnTest"/>

                </methods>
            </class>
            <class name="mvnPracticeTests.travelprac">
                <methods>
                    <include name="flightTest"/>
                    <include name="fromBox"/>
                    <include name="chooseDestination"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>